<div class="jumbotron">

</div>

<div class="container">
<% if @events.any? %>

  <% @events.each do |event| %>
    <%= link_to event, class: 'event-link' do %>
      <div class="event-block">
        <div class="upper-part">
          <%= image_tag event.event_image_url(:thumb).to_s %>
        </div>
        <div class="bottom-part">
          <h4><%= event.event_name %></h4>
            <% if (event.from_date.year == event.until_date.year) and (event.from_date.month == event.until_date.month) %>
            <p><%= "#{event.from_date.day} - #{event.until_date.day} #{event.until_date.strftime '%b, %Y'}" %></p>
          <% else %>
            <p><%= "#{event.from_date.strftime '%d %b'} - #{event.until_date.strftime '%d %b'}, #{event.until_date.strftime '%Y'}" %></p>
          <% end %>
          <p><%= event.city %>, <%= event.country %></p>
        </div>
      </div>  
    <% end %>
  <% end %>
<% else %>

  <p>Add some events</p>

<% end %>

</div>